<title>My application</title>
  <h1>Hoşgeldiniz!</h1>
  <br>
  Bu uygulamanın 4 adet parametresi vardır aşağıdaki kutulardan görebileceğiniz gibi.
  <br>
  İlk iki kutuda negatif olmayan sayıları enterla ayırarak yazınız. 
  <br>
  Üçüncü kutuya bir adet sayi ve son kutuyada enter ile ayrılan birden çok kelime yazabilirsiniz.
  <br>
  Uygulama kutulara yazdığınız değerleri index kabul edip o indexe denk gelen kelimeleri arka arkaya yazacaktır.
  <br>
    <h1>Sonucumuz {{result}}!</h1> 


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
